html,body
{
  font-family:Raleway, Arial, Helvetica, sans-serif;
}
.flexCentre
{
  display: flex;
  justify-content: center;
  align-items: center;
}
.flexAround
{
  display: flex;
  justify-content: space-around;
  align-items :center;
}
.flexBetween
{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.flexColumnCentre
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnAround
{
  display: flex;
  flex-direction:column;
  justify-content: center;
}
.flexColumnBetween
{
  display: flex;
  flex-direction:column;
  justify-content: space-between;
}
.decorationNone
{
  text-decoration: none;
}
.flexColumnCentre
{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.flexColumnAround
{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.flexColumnBetween
{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bordureNone
{
  border: none;
}
.texteGras
{
  font-weight: bold;
}
.colorBleu
{
  color: #0065fc;
}
.colorBleuClair
{
  color: #deebff;
}
.colorGris
{
  color:#f2f2f2;
}
.backBleu
{
  background-color: #0065fc;
}
.backBleuClair
{
  background-color: #deebff;
}
.backGris
{
  background-color: #f2f2f2;
}
/*navigation*/
.sizeNav
{
  height: 100px;
}
.sizeLiens
{
width: 100%;
}
.sizeLien
{
width: 140px;
height: 99px;
}
.colorLien13
{
  color: blue;
}
.bordureNav
{
  border-top: 1px solid transparent;
}
.bordureNav:hover
{
  border-top: 1px solid #0065fc;
  cursor: pointer;
}  
.bordureNav:hover > a
{
  color: #0065fc;
}
.margLogo
{
  margin-bottom: 7px;
  width: 120px;
}
.bordureSearch
{
  width: 400px;
  border-radius: 10px;
}
.paddingSearch
{
padding-left: 20px;
}
.recherche
{
height: 50px;
width: 230px;
font-size: 18px;
color: black;
font-weight: bold;
}
.iconSize
{
height: 50px;
width: 50px;
border-radius: 10px 0 0 10px;
}
.buttonSearch
{
  height: 50px;
  width: 120px;
  color: white;
  cursor: pointer;
  border-radius: 0 10px 10px 0;
}
.buttonSearch:hover
{
  color: #0065fc;
  background-color: #f2f2f2;  
}
/* Filtres */
.margFiltre
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.filtre
{
  display: flex;
  align-items: center;
}
.margFiltreTitre
{
  margin-right: 60px;
}
.filtreTexteIcons
{
  border: 2px solid #f2f2f2;
  height: 50px;
  border-radius: 50px;
  margin-right: 100px;
}
.filtreTexteIcons:hover > .filtreTexte
{
  color: #0065fc;
}
.filtreTexteIcons:hover > .filtreIcons
{
  color: white;
  background-color: #0065fc;
}
.filtreTexte
{
 height: 50px;
 padding-left: 20px;
 padding-right: 20px;
 border-radius: 0 25px 25px 0; 
}
.filtreIcons
{
 margin-left: -2px;
 border-radius: 25px;
 width: 52px;
 height: 52px;
 color: #0065fc;
 background-color: #deebff;
}
/*info*/
.info
{
 display: flex;
 align-items: center;
}
.parentIcon
{
  width: 20px;
  height: 20px;
  border: 2px solid #f2f2f2;
  border-radius: 25px;
  margin-right: 5px;
}
/*hebergements*/
#hebergement {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 46px;
}

.titre_hebergements_a_marseille {
  margin: 0px;
  font-size: large;
  margin-bottom: 21px;
}

#hebergements_a_marseille {
  background-color: #F2F2F2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: space-between;
  border-radius: 20px;
  padding: 44px 36px 44px 36px;
  width: 1200px;
}
.box_carte:hover
{
  cursor: pointer;
  transform: scale(1.05);
}
.container_item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: space-between;
  margin-bottom: 60px;
}

.box_carte {
  border: 3px solid #F2F2F2;
  border-radius: 20px;
  padding: 5px 5px 10px 5px;
  background-color: white;
  width: 358px;
  margin-bottom: 28px;
}

.hebergement_image {
  padding-left: 5px;
  padding-right: 5px;
}

.photo_hebergement {
  object-fit: cover;
  width: 358px;
  height: 162px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.hebergement_contenu {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-left: 16px;
}

.titre_contenu {
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.prix_contenu {
  padding-bottom: 10px;
  color: black;
}

.hebergement_notation {
  padding-bottom: 10px;
  color: #0065fc;
}

.hebergement_contenu h3,
.hebergement_populaire_contenu h3 {
  font-weight: bold;
  font-style: normal;
}

.hebergement_montrer_plus {
  font-weight: bold;
}

.fas.fa-star.grey-star {
  color: #F2F2F2;
}

/*Les plus populaires*/

.titre_popularite {
  display: flex;
  flex-direction: row;
}

.titre_les_plus_populaires {
  font-size: large;
  margin-bottom: 55px;
}

.icone_fas{
 text-align: right;
  color:black;
}

#container_hebergements_populaires {
  background-color: #f2f2f2;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 45px 38px 31px 45px;
  max-width: 485px;
}

.hebergement_les_plus_populaires {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.box_populaire_carte {
  border: 3px solid #f2f2f2;
  border-radius: 20px;
  display: flex;
  background-color: white;
  padding: 6px 58px 6px 6px;
  width: 420px;
  height: 235px;
  margin-bottom: 29px;
}
.box_populaire_carte:hover
{
  cursor: pointer;
  transform: scale(1.05);
}

.photo_populaire {
  width: 232px;
  height: 236px;
  object-fit: cover;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.hebergement_populaire_contenu {
  padding: 7px 0px 7px 20px;
  display: flex;
  flex-direction: column;
}

.titre_populaire_contenu {
  padding-bottom: 14px;
  color: black;
}

.prix_populaire_contenu {
  padding-bottom: 30px;
  color: black;
}
.hebergement_notation_populaire {
  max-width: 94px;
  max-height: 15px;
  color: #0065fc;
}

/*activites*/
.Activites
{
  margin-top: 50px;
  margin-bottom: 50px;
}
.blocActivites
{
  width: 100%;
  height: 600px;
}
.blocActivites2356
{
  width: 23%;
  height: 600px;
}
.cubeActivites
{
  width: 23%;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites:hover
{
  cursor: pointer;
  transform: scale(1.05);
}
.cubeActivites2356
{
  width: 100%;
  border-radius:  15px;
  box-shadow: 5px 5px 5px 1px #f2f2f2;
}
.cubeActivites2356:hover
{
cursor: pointer;
transform: scale(1.03);
}
.hauteurTitre
{
  height: 70px;
}
.titreActivites
{
  display: flex;
  justify-content: flex-start;
  align-items:center;
  padding-left: 5%;
  width: 95%;
}
.imgActivites1
{
  background-image: url("./img/reno-laithienne-QUgJhdY5Fyk-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0 ;
}
.imgActivites2
{
  background-image: url("./img/paul-hermann-QFTrLdQIRhI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 250px;
  border-radius: 15px 15px 0 0 ;
}
.imgActivites3
{
  background-image: url("./img/kevin-hikari-rV_Qd1l-VXg-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 150px;
  border-radius: 15px 15px 0 0 ;
}
.imgActivites4
{
  background-image: url("./img/kilyan-sockalingum-NR8-cBCN3aI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 530px;
  border-radius: 15px 15px 0 0 ;
}
.imgActivites5
{
  background-image: url("./img/florian-wehde-xW9e8gdotxI-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0 ;
}
.imgActivites6
{
  background-image: url("./img/lena-paulin-wH2-EJoDcV0-unsplash.jpg");
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 200px;
  border-radius: 15px 15px 0 0 ;
}
/*pied de page*/
.footer
{
  height: 300px;
  margin-top: 50px;
}
.tailleBlocFooter
{
  height: 150px;
}
.margBlocFooter1
{
  margin-left: 2%;
}
.margBlocFooter3
{
  margin-right: 20%;
}
.lienFooter
{
  color: black;
}
.divLienFooter
{
  height: 30px;
}
/*responsive*/   
@media screen and (max-width: 770px)
{
 
  .mobileFiltre
  {
    flex-direction: column;
    align-items:flex-start;
  }
  #hebergement
  {
    flex-direction: column-reverse;
    width: 100%;
  }
  #container_hebergements_populaires
  {
    flex: none;
    width: 90%;
    margin-left: 0;
    padding: 5%;
  }
  #hebergements_a_marseille
  {
    flex: none;
    width: 90%;
    margin-right: 0;
    margin-top: 50px ;
  }
  .box_populaire_carte
  {
    flex: none;
    width: 90%;
    margin-right: 0px;
    margin-top: 0px ;
  }
  .blocActivites
  {
    flex-direction: column;
    height: auto;
  }
  .cubeActivites
  {
    width: 100%;
    margin-bottom: 50 px; 
  }
  .blocActivites2356
  {
    width: 100%;
    height: auto;
  }
  .cubeActivites2356
  {
    margin-bottom: 50px;
  }
  .imgActivites1,
  .imgActivites2,
  .imgActivites3,
  .imgActivites4,
  .imgActivites5,
  .imgActivites6
  {
    height: 200px;
  }
  .footer
  {
    flex-direction: column;
    align-items: flex-start;
    height: auto;
    padding-left: 20 px;
  }
  .margBlocFooter1
  {
    margin-left: 0;
  }

}
